// Our shadow variables,
// created with the tool https://www.cssmatic.com/es/box-shadow
$default-shadow: 0px 0px 8px 5px rgba(209, 207, 209, 1);
$photo-shadow: 0px 0px 8px 5px rgba(156, 156, 156, 0.3);

// default code sandbox styles
.App {
  font-family: sans-serif;
  text-align: center;
}

// grid container style created to display the user cards
.content {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

// each of the user cards in the container above
.content-item {
  margin: 10px;
}

// generic style to center stuff, in this case, the profile picture
.align-center {
  display: flex;
  justify-content: center;
}

// generic style to align stuff left, in this case, the sort and
// pagination components
.align-left {
  display: flex;
  justify-content: left;
}

// generic style to align stuff right, in this case, the sort and
// pagination components
.align-right {
  display: flex;
  justify-content: right;
}

// Edit mode icon styles, adds left padding to the element, and sets
// the cursor in pointer mode
.user-edit {
  cursor: pointer;
  padding-left: 15px;
}

// generic style to add margin to an element, used in SearchBar
// and UserCard components
.margin-5px {
  margin: 5px;
}

// each of the inputs of the edit mode in UserCard
.edit-mode-input {
  flex-grow: 1;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid;
}

// SearchBar styles
.searchbar {
  border-radius: 10px;
  border: 1px solid;
  border-color: rgb(175, 175, 175);
  box-shadow: $default-shadow;
  height: 25px;
  width: 300px;
}

// Wrapper styles of the Pagination component
.paginator-wrapper {
  display: inline-flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 5px;
}

// Styles of the Pagination arrow icons
.paginator-container {
  border-radius: 50%;
  background-color: rgb(61, 143, 250);
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  width: 20px;
  height: 20px;
}

// Sort component styles
.sort-container {
  display: flex;
  justify-content: center;
  border-radius: 50%;
  box-shadow: $default-shadow;
  background-color: rgb(61, 143, 250);
  cursor: pointer;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
  padding: 5px;
  width: 20px;
  height: 20px;
}

// UserCard component styles
.card {
  border-radius: 10px;
  max-width: 300px;
  box-shadow: $default-shadow;

  // header styles
  .header {
    border-radius: 10px 10px 0 0;
    padding-top: 15px;
    padding-bottom: 50px;
    border-bottom: 0;
    width: 100%;
    background-color: rgb(61, 143, 250);
    color: #fff;
    font-size: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    p {
      flex-grow: 1;
      text-align: center;
    }
  }
  // photo styles
  .photo {
    height: min-content;
    width: fit-content;
    box-shadow: $photo-shadow;
    border: 4px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-top: -30px;
    width: 120px;
    height: 120px;
  }
  // body styles
  .body {
    padding: 20px;
    color: rgb(114, 114, 114);
  }
}

// Simple tooltip styles, this styles in particular are from
// https://www.w3schools.com/css/css_tooltip.asp
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
}

.tooltip .tooltip-text-right {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  left: 105%;
}

.tooltip .tooltip-text-left {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  position: absolute;
  z-index: 1;
  right: 105%;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

.tooltip:hover .tooltip-text-left {
  visibility: visible;
}

.tooltip:hover .tooltip-text-right {
  visibility: visible;
}
